<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/fontCssTrajan.css" />
    <include path="~/Content/bootstrap.css" />        
    <include path="~/Content/jquery-ui.css" />    
    <include path="~/Content/jquery-ui.structure.css" />
    <include path="~/Content/jquery.smartmenus.bootstrap.css" />
    <!--<include path="~/Content/responsiveSite.css" />-->
    <include path="~/Content/responsiveSite-v3.0.css" />
    <include path="~/Content/responsiveGrid.css" />    
    <include path="~/Content/plugins/fileinput.css" />    
    <include path="~/Content/plugins/carouselMultiple.css" />    
    <!--<include path="~/Content/jquery-ui.theme.css" />-->    
  </styleBundle>

      
  <styleBundle path="~/App_Themes/css">
    <!--<include path="~/App_Themes/ThemeBase/CssBase.css" />-->
    <include path="~/App_Themes/ThemeBase/CssBase-v3.0.css" />
    <include path="~/App_Themes/ThemeBase/cssButtons.css" />
    <include path="~/App_Themes/ThemeBase/cssDropDown.css" />
    <include path="~/App_Themes/ThemeBase/cssGridView.css" />
    <include path="~/App_Themes/ThemeBase/cssLabel.css" />
    <include path="~/App_Themes/ThemeBase/cssModalDialog.css" />
    <include path="~/App_Themes/ThemeBase/cssPanel.css" />
    <include path="~/App_Themes/ThemeBase/cssValidacion.css" />
    <include path="~/App_Themes/ThemeBase/bootstrap-select.css" />
    <!--<include path="~/App_Themes/ThemeBase/bootstrap-submenu.css" />-->
    <include path="~/App_Themes/ThemeBase/cssBodyFooterPage.css" />
    <include path="~/App_Themes/ThemeBase/cssTitlePage.css" />    
  </styleBundle>
  
</bundles>