@font-face {
    font-family: 'Trajan-Pro-Regular';
    src: url('/content/fonts/TrajanPro-Regular.otf') format("opentype");   
}

@font-face {
    font-family: 'Trajan-Pro-Bold';
    src: url('/content/fonts/TrajanPro-Bold.otf') format("opentype"); 
}


@font-face {
    font-family: 'AkzidenzGrotesk-Regular';    
    src: url('/content/fonts/AkzidenzGrotesk-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'AkzidenzGrotesk-Bold';
    src: url('/content/fonts/AkzidenzGrotesk-Bold.otf') format("opentype");
}